 .box {
    border: 1px solid #ccc;
    padding: 10px;
    width: 340px; /* Adjust the width as needed */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height:250px;
    transition:all  0.3s;
    border:1px solid white;
    background:#0f171e;
    cursor:pointer;
  }

.box:hover{
    transform:scale(1.1);
    transition:all 0.4s;
    
}
  
  .box-header {
    margin-top:2px;
    /* padding:10px 20px; */
    color:rgb(9, 148, 246);
    text-transform:uppercase;
    font-size:25px;
    font-weight:bold;
    text-align: center;
  }
  
  .box-content {
    flex-grow: 1; /* Allow content to grow and take available space */
    margin: 10px 0;
  }

  .box-content span{
    color:aqua;
  }
  .box-content p{
    overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color:snow;
  }
  
  .box-footer {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .footer-left {
    font-size: 12px;
    margin-bottom:10px;
  }
  
  .footer-right {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3px;
  }
  
  .buttonB {
    padding: 6px 8px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    /* padding: 6px 10px;  */
    border-radius: 5px;
    width: 80px;
    height:40px;
    font-size: 18px;
  }
  .button8 button:hover{
    cursor:pointer;
    background-color:crimson;
}

.footer-left span{
    margin-left:2px;
    color:lightpink;
    font-weight: bold;
    font-size:15px;
}
.footer-left p{
    margin-left:5px;
    font-size:15px;
    font-weight:bold;
}

.button8 a{
  outline:none;
  text-decoration:none;
  color:white;
}